name: Build EXE

on:
  push:
    branches: [ main ]  # Adjust this as necessary
  pull_request:
    branches: [ main ]  # Adjust this as necessary

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up MSBuild path
      uses: microsoft/setup-msbuild@v1.1

    - name: Build eTokenSign3 Solution
      run: msbuild eTokenSign3.sln /p:Configuration=Release /p:Platform="Any CPU"  # Adjust platform as needed

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v3
      with:
        name: eTokenSign3-exe
        path: |
          **/*.exe
          **/*.dll  # Add or remove paths as needed for your build artifacts
